{% extends "blog/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">About Django Blog</h1>
        <p class="lead">Welcome to the Django Blog, where you can share your thoughts and experiences with the world!</p>
        <hr class="my-4">
        <p>This blog platform is built with Django, a high-level web framework written in Python. It provides a simple and efficient way to create and manage your blog posts.</p>
        <p>Feel free to explore, read, and contribute by creating your own posts. We value your unique perspective and encourage you to share your ideas with our community.</p>
    </div>
{% endblock content %}
