{% extends "blog/base.html" %}
{% block content %}
    <div class="container mt-2 ">
        <div class="content-section">
            <form method="POST" class="border rounded p-4">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-danger">Delete Post</legend>
                    <h3 class="text-dark">Are you sure you want to delete the post "{{ object.title }}"?</h3>
                </fieldset>
                <div class="form-group mt-4">
                    <button class="btn btn-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
